/* styles.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#d8c7c9,#f1e6d6);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap:10px;
}

input[type="text"] {
  flex:1;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color:black;
  outline: none;
}


button {
  background-color: #7d8fa6;
  color: white;
  height: 40px;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  background-color: #6d7f96;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  
}
li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

li button {
  background-color: #ab5757;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #b71c1c;
}

